/*左边通知信息*/
.H_R_L_left {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  transition: all .3s ease-out;
  /*background-color: pink;*/
}
.HeaderBellIcon {
  font-size: 24px;
  /*color: #b2b0c7;*/
  /*transition: color 0.3s;*/
}
.H_R_L_left:hover {
  cursor: pointer;
  color: #1890ff;
  background-color: #f9f9fc;
}
.badgeContent {
  min-width: 320px;
}
