.HeaderContent {
  height: 75px;
  display: flex;
  /*justify-content: center;*/
  /*align-content: center;*/
}
/*左边*/
.HeaderLeft {
  width: 75px;
  line-height: 75px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  transition: all .3s ease-out;
  /*background-color: blue;*/
}
.HeaderLeft:hover {
  background-color: #f9f9fc;
  color: #1890ff;
}
.HeaderMenuIcon {
  font-size: 18px;
  /*transition: color 0.3s;*/
}

/*右边*/
.HeaderRight {
  flex: 1;
  /*background-color: red;*/
}
/*右边模块*/
.H_R_list {
  height: 75px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
/*左边通知信息*/
.H_R_L_left {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  transition: all .3s ease-out;
  /*background-color: pink;*/
}
.HeaderBellIcon {
  font-size: 24px;
  /*color: #b2b0c7;*/
  /*transition: color 0.3s;*/
}
.H_R_L_left:hover {
  cursor: pointer;
  color: #1890ff;
  background-color: #f9f9fc;
}

/*中间语言设置*/
.H_R_L_middle {
  width: 75px;
  height: 75px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  /*background-color: red;*/
}
.H_R_L_middle:hover{
  background-color: #f9f9fc;
}
/*气泡*/
.languageContent {
  min-width: 160px;
  /*background-color: red;*/
}
.L_C_list {
  padding: 0 4px;
  /*background-color: pink;*/
}
.L_C_L_selected {
  background-color: #f9f9fc;
  color: #1890ff;
}
.L_C_list:hover {
  cursor: pointer;
  color: #1890ff;
}
.L_C_list:not(:first-child) {
  margin-top: 10px;
}
.L_C_L_title {
  margin-left: 10px;
}
/*右边用户信息*/
.H_R_L_right {
  height: 75px;
  min-width: 100px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  /*background-color: green;*/
}
.H_R_L_right:hover {
  cursor: pointer;
  background-color: #f9f9fc;
  color: #1890ff;
}
.H_R_L_R_hint {
  color: rgb(153, 153, 153);
}
.H_R_L_R_userName {
  margin: 0 5px;
}
/*气泡*/
.userInfoContent {
  /*background-color: red;*/
}
.U_C_list {}
.U_C_list:hover {
  cursor: pointer;
  /*background-color: #f9f9fc;*/
  color: #1890ff;
}
